body {
    /* Remove default page margin */
      margin: 0;
      background-color: #efefef;
    }

.navbar {
    overflow: hidden;
    background-color: #dcdadd;
}

.navbar a {
    float: left;
    color: #38343e;
    text-align: center;
    padding: 25px 16px;
    text-decoration: none;
}
.navbar a:hover {
    background-color: #c099f1;
    padding: 25px 16px;
}

/*Less padding and larger font size for smaller screens*/
@media (max-width: 1080px) {
    .navbar a {
        padding: 15px 10px;
        font-size: 20px;
    }

    .navbar a:hover {
    padding: 15px 10px;
    background-color: #222831;
    color: #00ADB5;
    }       
}


.navbar-right {
    float: right;
}

/* Content */

.row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    overflow: hidden;
    padding: 0px 0px;
}
.column {
    float: left;
    width: calc(35.3333% - 13.333px);
    margin-right: 1px;
}

.column:first-child {
    margin-left: 1px;
}

.recipe-view-column {
}

.recipe-column {
    float: left;
    width: calc(15% - 40px);
    margin-right: 10px;
    text-align: center;
    background-color: #DCDADD;
}
.recipe-column p {
    white-space: nowrap;
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
    
}
.recipe-column:first-child {
   /*margin-left: 1px;*/
}

@media only screen and (max-width: 1400px) {
    .recipe-column {
        width: calc(25% - 40px);
        background-color: #9930ce;
    }
    .row {
        padding: 0;
    };
}

@media only screen and (max-width: 800px) {
    .recipe-column {
        width: 35%;
        background-color: #bb9dc9;
    }
    .row {
        padding: 0;
    };
}

@media only screen and (max-width: 600px) {
    .recipe-column {
        width: 40%;
        background-color: #2eba8b;
        
    }
    .row {
        padding: 0;
        margin: 0;
    };
}

@media (pointer:none), (pointer:coarse) {
    .recipe-column {
        float: left;
        width: 100%;
        margin: 20px 20px 20px 20px;
        background-color: #d8510e;
    }
    .row {
        padding: 0;
    };
}
.loginCard {
    display: none;
    border-radius: 5px;
    padding: 20px;
    margin-top: 10%;
}

.loginCard input[type=text], input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.loginCard input[type=button] {
    width: 100%;
    background-color: #38343e;
    color: #EFEFEF;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    max-width: 48%;
}
.btnRight {
    float: right;
}
.loginCard input[type=button]:hover {
    background-color: #c099f1;
    scale: 1.05;
}

.recipeCard {
    display: block;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    overflow-wrap: break-word;
    font-family:Arial, Helvetica, sans-serif;
}

.recipeCard #title {
    font-size: 20px;
    margin: 5px;
}
.recipeCard #description {
    font-style:italic;
    font-size: 15px;
    margin: 0;
}
.recipeCard #ingredients {
    margin: 0;
    font-size: 15px;
}
.recipeCard img {
    width: 100%;
}
.recipeCard:hover {
    scale: 1.05;
    cursor: pointer;
}

.recipeView {
    position: relative;
    display: none;
    max-height: 50vh;
    background-color: #DCDADD;
    padding: 10px;
    /* Apply margins all round and set width */
    margin-top: 10px;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    /* If content is too large, add a scroll bar */
    overflow: scroll;

    font-family:Arial, Helvetica, sans-serif;
}
.recipeView h1 {
    font-weight: normal;
}
.recipeView h2 {
    font-weight: normal;
    font-size: large;
}
.recipeView img {
    float: right;
    max-width: 20%;
}
.recipeView input[type=button] {
    display: none;
    position: relative;
    background-color: #38343e;
    color: #EFEFEF;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}