body {
    /* Remove default page margin */
    margin: 0;
    background-color: #efefef;
}

/* Navbar styling ----------------------- */
.navbar {
    overflow: hidden;
    background-color: #dcdadd;
}

.navbar a {
    float: left;
    color: #38343e;
    text-align: center;
    padding: 25px 16px;
    text-decoration: none;
    cursor: pointer;
}
.navbar a:hover {
    background-color: #c099f1;
    padding: 25px 16px;
}


.navbar-right {
    float: right;
}

/* Main content alignment ----------------------- */

.row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    overflow: hidden;
    padding: 0px 0px;
}
.column {
    float: left;
    width: calc(35.3333% - 13.333px);
    margin-right: 1px;
}

.column:first-child {
    margin-left: 1px;
}

/* Recipe card styling ----------------------- */

.recipe-column {
    float: left;
    width: calc(15% - 40px);
    margin-right: 10px;
    text-align: center;
    background-color: #DCDADD;
}
.recipe-column p {
    white-space: nowrap;
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
    
}

.recipeCard {
    display: block;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    overflow-wrap: break-word;
    font-family:Arial, Helvetica, sans-serif;
}

.recipeCard #title {
    font-size: 1.5rem;
    margin: 5px;
}
.recipeCard #description {
    font-style:italic;
    font-size: 1rem;
    margin: 0;
}
.recipeCard #ingredients {
    margin: 0;
    font-size: 1rem;
}
.recipeCard img {
    width: 100%;
}
.recipeCard:hover {
    scale: 1.03;
    cursor: pointer;
}

/* Detailed recipe view styling ----------------------- */

.recipeView {
    position: relative;
    display: none;
    max-height: 50vh;
    box-sizing: border-box;
    background-color: #DCDADD;
    padding: 10px;
    margin-top: 10px;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    /* If content is too large, add a scroll bar */
    overflow: scroll;
    font-family:Arial, Helvetica, sans-serif;
}
.recipeView h1 {
    font-weight: normal;
}
.recipeView h2 {
    font-weight: normal;
    font-size: large;
}
.recipeView img {
    float: right;
    display: block;
    margin: 0 auto; /* Center the image horizontally */
    max-width: 20%;
}
.recipeView-button-container {
    display: flex; /* This makes the container a flexbox */
    justify-content: flex-start;
}
.recipeView input[type=button] {
    display: none;
    background-color: #38343e;
    color: #EFEFEF;
    padding: 14px 20px;
    margin-top: 8px;
    margin-right: 3px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}



/* Recipe creation styling ----------------------- */

/* Main recipe creator card */
.recipeCreator {
    display: none;
    border-radius: 5px;
    padding: 20px;
    margin-top: 1%;
    background-color: #DCDADD;
    width: 70%;
    font-family:Arial, Helvetica, sans-serif;
    max-height: 90vh;
    overflow:visible;
}

.recipeCreator input[type=text], input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-flex;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.recipeCreator-ingredientSelect {
    display: inline-block;
}

.recipeCreatorNewIng {
    padding: 5px 5px !important;
    margin: 8px 0;
    max-width: min-content;
    box-sizing: border-box;
    max-height: 2rem;
}

.recipeCreator-method {
    width: 100%;
    background-color: #38343e;
    padding: 12px 20px;
    margin: auto;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    max-height: 50vh;
    overflow: scroll;

}

.recipeCreator-method p {
    color: white;
    margin-bottom: 1px;

}
.recipeCreator-method h2 {
    color: white;
}

.recipeCreator h1 {
    font-weight: normal;
}
.recipeCreator h2 {
    font-weight: normal;
    font-size: large;
    margin-bottom: 0px;
}

.recipeCreator input[type=button]:hover {
    background-color: #c099f1;
    scale: 1.02;
}

.RecipeCreatorButton {
    width: 48%;
    background-color: #38343e;
    color: #EFEFEF;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    max-width: 48%;
}

.RecipeCreatorButtonSmall {
    background-color: #808080;
    color: #EFEFEF;
    padding: 5px 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    max-width: 48%;
}

.RecipeEditorButtonRed {
    width: fit-content;
    background-color: #921010;
    color: #EFEFEF;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    max-width: 48%;
    
}

/* Login card styling ----------------------- */
.loginCard {
    display: none;
    border-radius: 5px;
    padding: 20px;
    margin-top: 5%;
}

.loginCard input[type=text], input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.loginCard input[type=button] {
    width: 100%;
    background-color: #38343e;
    color: #EFEFEF;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    max-width: 48%;
}
.btnRight {
    float: right;
}
.loginCard input[type=button]:hover {
    background-color: #c099f1;
    scale: 1.05;
}

/* search card styling ----------------------- */
.searchCard {
    display: none;
    border-radius: 5px;
    padding: 20px;
    margin-top: 1%;
    background-color: #DCDADD;
    width: 70%;
}

.searchCard input[type=text], input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.searchItem {
    background-color: #38343e;
    color: #EFEFEF;
    padding: 5px 5px;
    margin: 8px 0;
    margin-right: 4px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    max-width: 48%;
}
.searchItemToggled {
    background-color: #c099f1 !important;
}

.searchCardButton {
    width: 100%;
    background-color: #38343e;
    color: #EFEFEF;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    max-width: 48%;
}

.searchCard input[type=button]:hover {
    background-color: #c099f1;
    scale: 1.02;
}
.searchCard p {
    margin-top: 0px;
    margin-bottom: 0px;
    color: rgb(195, 61, 61);
}