
/*Less padding and larger font size for smaller screens*/


/* Screens between 800px and 1700px ----------------------- */
@media only screen and (max-width: 1700px) {
    .recipe-column {
        width: calc(25% - 40px);
    }
    .row {
        padding: 0;
    };

    .recipeView {
        background-color: #DCDADD;
        width: 100%;
        box-sizing: border-box; 
        max-height: none;
        padding: 5%;
        margin: 1% auto;
        max-width: 99%;
        font-family:Arial, Helvetica, sans-serif;
    }
    .recipeView h1 {
        font-weight: normal;
        font-size: 2rem;
    }
    .recipeView h2 {
        font-weight: normal;
        font-size: 1.5rem;
        margin: 0px;
    }

    .recipeViewSec {
        float: right;
        display: block;
        margin: 0 auto; /* Center the image horizontally */
        max-width: 20%;
    }
    .recipeViewSec img {
        max-width: 100%;
    }
    .recipeView a {
        display: block;
        text-align: center;
    }
    .recipeView input[type=button] {
        display: none;
        position: relative;
        background-color: #38343e;
        color: #EFEFEF;
        padding: 14px 20px;
        margin: 8px 0;
        margin-right: 3px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    .recipeView ul {
        margin: 1%;
    }
    .recipeView ol {
        margin: 1%;
    }
}

/* Screens between 600px and 800px ----------------------- */
@media only screen and (max-width: 800px) {
    .recipe-column {
        width: 35%;
    }

    .row {
        padding: 0;
    };

    /* Recipe view */
    .recipeView {
        width: 100%;
        box-sizing: border-box; /* Ensures padding is included in width */
        max-height: none;
        padding: 5%;
        margin: 1% auto;
        max-width: 99%;
        font-family:Arial, Helvetica, sans-serif;
    }
    .recipeView h1 {
        font-weight: normal;
    }
    .recipeView h2 {
        font-weight: normal;
        font-size: large;
    }

    .recipeViewSec {
        float: right;
        display: block;
        margin: 0 auto; /* Center the image horizontally */
        max-width: 20%;
    }
    .recipeViewSec img {
        max-width: 100%;
    }
    .recipeView a {
        display: block;
        text-align: center;
    }
    .recipeView input[type=button] {
        display: none;
        position: relative;
        background-color: #38343e;
        color: #EFEFEF;
        padding: 14px 20px;
        margin: 8px 0;
        margin-right: 3px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

}

/* Screens smaller than 600px ----------------------- */
@media only screen and (max-width: 600px) { 
    .recipe-column {
        width: calc(80%); /* Adjust width for spacing */
    }
    
    

    /* Recipe view */
    .recipeView {
        width: 100%;
        box-sizing: border-box;
        max-height: none;
        padding: 5%;
        margin: 1% auto;
        max-width: 99%;
        font-family:Arial, Helvetica, sans-serif;
    }
    .recipeView h1 {
        font-weight: normal;
    }
    .recipeView h2 {
        font-weight: normal;
        font-size: large;
    }
    .recipeView input[type=button] {
        display: none;
        position: relative;
        background-color: #38343e;
        color: #EFEFEF;
        padding: 14px 20px;
        margin: 8px 0;
        margin-right: 3px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    .recipeViewSec {
        float: right;
        display: block;
        margin: 0 auto; /* Center the image horizontally */
        max-width: 20%;
    }
    .recipeViewSec img {
        max-width: 100%;
    }
    .recipeView a {
        display: block;
        text-align: center;
    }

    /* Recipe creator */
    .recipeCreator {
        width: 95%;
    }

       /* Account Options */

    .accountOptions {
        width: 100%;
        display: none;
        border-radius: 5px;
        padding: 20px;
        margin-top: 5%;
        background-color: #DCDADD;
        text-align: center;
    
    }
}



/* Mobile devices  ----------------------- */
@media (pointer:none), (pointer:coarse) {


    .navbar a {
        padding: 15px 10px;
        font-size: 3rem;
    }

    .navbar a:hover {
    padding: 15px 10px;
    }     

    .recipe-column {
        float: left;
        width: 100%;
        margin: 20px 20px 20px 20px;
    }
    
    .row {
        padding: 0;
        font-size: 1rem;
    };


   /* Recipe view */
   .recipeView {
        background-color: #DCDADD;
        width: 100%;
        max-height: none;
        padding: 5%;
        margin-top: 0px;
        margin-left: 0%;
        margin-right: 0%;
        font-family:Arial, Helvetica, sans-serif;
        }
    .recipeView h1 {
        font-weight: normal;
        font-size: 4rem;
        text-align: center;
    }
    .recipeView h2 {
        font-weight: normal;
        font-size: 3rem;
    }
    .recipeView p {
        font-size: 2rem;
    }
    .recipeView img {
        float: none;
        display: block;
        margin: 0 auto; 
        max-width: 70%;
    }
    .recipeView input[type=button] {
        display: none;
        position: relative;
        background-color: #38343e;
        color: #EFEFEF;
        padding: 14px 20px;
        margin: 8px 0;
        margin-right: 3px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    .recipeView ul {
        margin: 1%;
        font-size: 1.5rem;

    }
    .recipeView ol {
        margin: 1%;
        font-size: 1.5rem;
    }

    .recipeCard #title {
        font-size: 3rem;
        margin: 5px;
    }
    .recipeCard #description {
        font-style:italic;
        font-size: 2rem;
        margin: 0;
    }
    .recipeCard #ingredients {
        margin: 0;
        font-size: 2rem;
    }


    /* Search */

    .searchCard {
        display: none;
        border-radius: 5px;
        padding: 20px;
        margin-top: 1%;
        margin-bottom: 1%;
        background-color: #DCDADD;
        width: 100%;
    }
    
    .searchCard input[type=text], input[type=password], select {
        display: block;
        font-size: 2rem;       
    }
    
    .searchItem {
        background-color: #808080;
        font-size: 2rem;
        color: #EFEFEF;
        padding: 5px 5px;
        margin: 8px 0;
        margin-right: 4px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        max-width: 48%;
    }
    
    .searchCardButton {
        display: block;
        font-size: 2rem;
        margin: auto;
    }


    /* Recipe creator */
    .recipeCreator {
        width: 95%;
    }
    .recipeCreator h2 {
        font-size: 3rem;
    }
    .recipeCreator h1 {
        text-align: center;
        font-size: 4rem;
    }

    .RecipeCreatorButtonSmall {
        font-size: 2rem;
    }

    .recipeCreatorNewIng {
        padding: 5px 5px !important;
        margin: 8px 0;
        max-width: min-content;
        box-sizing: border-box;
        max-height: 100%;
    }

    /* Login */

    .loginCard {
        display: none;
        border-radius: 5px;
        padding: 20px;
        margin-top: 5%;
        width: 90%;
    }
    
    .loginCard input[type=text], input[type=password], select {
        font-size: 2rem;
    }
    .loginCard input[type=button] {
        font-size: 2rem;
        overflow-wrap: break-word;
    }

    /* Account Options */

    .accountOptions {
        width: 100%;
        display: none;
        border-radius: 5px;
        padding: 20px;
        margin-top: 5%;
        background-color: #DCDADD;
        text-align: center;
    
    }
    .accountOptions input[type=button] {
        font-size: 2rem;
        overflow-wrap: break-word;
    }

    .accountOptions h2 {
        font-size: 3rem;
    }


    /* Global rules for all classes*/
    input[type=text], input[type=password], select {
        font-size: 2rem;
    }
}
