body {
    /* Remove default page margin */
      margin: 0;
    }

.navbar {
    overflow: hidden;
    background-color: #333;
}

.navbar a {
    float: left;
    color: #ffffff;
    text-align: center;
    padding: 25px 16px;
    text-decoration: none;
}
.navbar a:hover {
    background-color: #222831;
    color: #00ADB5;
    padding: 25px 16px;
}

/*Less padding and larger font size for smaller screens*/
@media (max-width: 1080px) {
    .navbar a {
        padding: 15px 10px;
        font-size: 20px;
    }

    .navbar a:hover {
    padding: 15px 10px;
    background-color: #222831;
    color: #00ADB5;
    }       
}


.navbar-right {
    float: right;
}